body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: Lato;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-49 {
    width: 1280px;
    height: 880px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    background-image: linear-gradient(to top, #EABF61, #F8D696);
    display: flex;
}

.lado-izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-left: 90px;
}

.contenido {
    width: 500px;
}

.contenido h2 {
    font-size: 65px;
    font-family: Bitter;
    margin-bottom: 20px;
    margin-top: 50px;
}

.contenido p {
    font-family: Roboto Mono;
    width: 380px;
    font-size: 20px;
    color: #333;
}

.contenido button {
    border: none;
    background-color: #111;
    border-radius: 50px;
    color: #fff;
    padding: 14px 30px;
    font-family: Roboto Mono;
}

.lado-izquierdo img {
    width: 120px;
}


.carta-49 > img {
    width: 900px;
    position: relative;
    right: 255px;
}